.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

    line-height: 1.1;
    font-family: "Roboto", sans-serif;
    color: #222222;
    font-weight: 500;
    font-size: 17px;

}

